<%= form_with model: [:admin, @country], method: :patch, data: {controller: "form-state"} do |f| %>
  <div class="card" data-hook="admin_country_form_fields">
    <div class="card-header d-flex">
      <div class="flex-fill">
        <h5 class="card-title"><%= I18n.t('spree.dash.details') %></h5>
      </div>
      <div>
        <%= render partial: 'spree/admin/shared/submit_button' %>
      </div>
    </div>
    <div class="card-body row">
      <div class="col-12">
        <%= f.field_container :name, data_hook: 'name', class: ['form-floating'] do %>
          <%= f.text_field :name, class: 'form-control', placeholder: Spree.t(:name), required: true, data: { form_state_target: "watch" } %>
          <%= f.label :name, Spree.t(:name) %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <%= f.field_container :iso_name, data_hook: 'iso_name', class: ['form-floating'] do %>
          <%= f.text_field :iso_name, class: 'form-control', placeholder: Spree.t(:iso_name), required: true, data: { form_state_target: "watch" } %>
          <%= f.label :iso_name, Spree.t(:iso_name) %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <%= f.field_container :iso, data_hook: 'iso', class: ['form-floating'] do %>
          <%= f.text_field :iso, class: 'form-control', placeholder: Spree.t(:iso), data: { form_state_target: "watch" } %>
          <%= f.label :iso, Spree.t(:iso) %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <%= f.field_container :iso3, data_hook: 'iso3', class: ['form-floating'] do %>
          <%= f.text_field :iso3, class: 'form-control', placeholder: Spree.t(:iso3), required: true, data: { form_state_target: "watch" } %>
          <%= f.label :iso3, Spree.t(:iso3) %>
        <% end %>
      </div>

      <div class="col-12">
        <%= f.field_container :states_required, data_hook: 'states_required', class: ['form-check'] do %>
          <%= f.check_box :states_required, class: 'form-check-input', data: { form_state_target: "watch" } %>
          <%= f.label :states_required, Spree.t(:states_required), class: 'form-check-label' %>
        <% end %>

        <%= f.field_container :zipcode_required, data_hook: 'states_required', class: ['form-check'] do %>
          <%= f.check_box :zipcode_required, class: 'form-check-input', data: { form_state_target: "watch" } %>
          <%= f.label :zipcode_required, Spree.t(:zipcode_required), class: 'form-check-label' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
