<% content_for :modal_header do %>
  <h5 class="modal-title"><%= @object.name.capitalize %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <%= form_for [:admin, @object], id: 'univeralModalForm', data: { turbo_frame: '_top', action: "turbo:submit-end->modal#submitEnd" } do |f| %>
     <%= render partial: 'spree/admin/shared/named_types/form', locals: { f: f } %>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= I18n.t('spree.dash.actions.cancel') %></button>
  <%= button_tag(I18n.t('spree.dash.actions.save'), class: "btn btn-success", form: "edit_#{@object.class.name.demodulize.underscore}_#{@object.id}") %>
<% end %>

<%= render partial: 'spree/admin/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>
