<div id="<% if @cms_page.type == 'Spree::Cms::Pages::StandardPage' %>standardPage<% end %>" data-hook="admin_page_form_fields">
  <div class="row sp-pb-0">
    <div class="col-12">
      <div class="card">
        <% unless %w[new create].include? controller.action_name %>
          <div class="card-header d-flex">
            <div id="pageVisibility" class="flex-fill">
              <%= render 'visibility' %>
            </div>

            <div class="d-flex align-items-center">
              <span class="badge rounded-pill bg-secondary">
                <%= inline_svg_tag "translate.svg", size: '18px * 18px' %> <%= locale_full_name(@cms_page.locale) %>
              </span>
            </div>
          </div>
        <% end %>

        <%= form_for [:admin, @cms_page], as: :cms_page, url: spree.admin_cms_page_path do |f| %>
          <div class="card-body pb-2">
            <div class="row pb-0">

              <div class="col-12 col-md-6">
                <%= f.field_container :title do %>
                  <%= f.text_field :title, class: 'form-control', required: true, placeholder: raw(I18n.t('spree.dash.cms.title') + required_span_tag) %>
                  <%= f.label :title, raw(I18n.t('spree.dash.cms.title') + required_span_tag) %>
                <% end %>
              </div>

              <div class="col-12 col-md-6">
                <%= f.field_container :type do %>
                  <%= f.select(:type, spree_humanize_dropdown_values('Spree::CmsPage', {const: 'TYPES'}), {include_blank: false}, class: 'form-select', data: {controller: 'ts--select'}) %>
                  <%= f.label :type, I18n.t('spree.dash.cms.page_type') %>
                <% end %>
              </div>
            </div>

            <div class="<% unless %w[new create].include? controller.action_name %>collapse<% end %>" id="cmsPageSettings">
              <div class="row pb-0">
                <div class="col-12"><hr></div>

                <div class="col-12 col-md-4">
                  <%= f.field_container :meta_title do %>
                    <%= f.text_field :meta_title, class: 'form-control', placeholder: I18n.t('spree.dash.cms.meta_title') %>
                    <%= f.label :meta_title, I18n.t('spree.dash.cms.meta_title') %>
                  <% end %>
                </div>

                <div class="col-12 col-md-4">
                  <%= f.field_container :slug do %>
                    <%= f.text_field :slug, class: 'form-control', disabled: @cms_page.homepage?, placeholder: I18n.t('spree.dash.slug') %>
                    <% if @cms_page.homepage? %>
                      <%= f.label :slug, I18n.t('spree.dash.not_applicable') %>
                    <% else %>
                      <%= f.label :slug, I18n.t('spree.dash.slug') %>
                    <% end %>
                  <% end %>
                </div>

                <div class="col-12 col-md-4">
                  <%= f.field_container :locale do %>
                    <%= f.select :locale, options_from_collection_for_select(supported_locales_options, :last, :first, @cms_page.locale || I18n.locale), {}, {class: 'form-select', data: {controller: 'ts--select'} } %>
                    <%= f.label :language %>
                  <% end %>
                </div>

                <%= f.field_container :meta_description, class: ['col-12'] do %>
                  <div class="form-floating">
                    <%= f.text_area :meta_description, { rows: 3, class: 'form-control', style: 'height: 200px;', placeholder: I18n.t('spree.dash.cms.meta_description') } %>
                    <%= f.label :meta_description, I18n.t('spree.dash.cms.meta_description') %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="row pb-0">
              <% if @cms_page.type != 'Spree::Cms::Pages::StandardPage' %>
                <div class="col-12 col-sm-7">
                  <%= render partial: 'spree/admin/shared/edit_resource_links' %>
                </div>
              <% else %>
                <div class="col"></div>
              <% end %>

              <div class="col-12 col-sm text-end pt-3 pt-sm-0">
                <button id="toggleMorePageSettingsButton" class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#cmsPageSettings" aria-expanded="false" aria-controls="collapsePageSettings">
                  <%= raw I18n.t('spree.dash.cms.more_page_settings') %>
                </button>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @cms_page.type == 'Spree::Cms::Pages::StandardPage' %>
  <%= form_for [:admin, @cms_page], as: :cms_page, url: spree.admin_cms_page_path do |f| %>
    <div class="card">
      <div class="card-body">
        <%= f.field_container :content  do %>
          <%= f.text_area :content, { data: { controller: 'rte'}, style: "height: 283px;", class: 'form-control', placeholder: I18n.t('spree.dash.cms.content') } %>
          <%= f.label :content, I18n.t('spree.dash.cms.content') %>
        <% end %>
      </div>
    </div>

    <div class="d-flex ">
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </div>
  <% end %>
<% end %>
