<div data-hook="admin_customer_detail_form_fields">

  <div class="row">
    <div class="col-12">
      <div class="form-group ">
        <span class="form-check" data-hook="use_billing">
          <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, class: 'form-check-input' %>
          <%= label_tag 'order[use_billing]', Spree.t(:use_billing_address), class: 'form-check-label' %>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div data-hook="bill_address_wrapper" class="col-12 col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title mb-0 h6"><%= Spree.t(:billing_address) %></h5>
        </div>

          <div class="card-body" data-controller="form-validation">
            <%= turbo_frame_tag :bill_address_fields do %>
              <% if can? :edit, @order.user %>
                <%= f.fields_for :bill_address do |ba_form| %>
                  <%= render 'spree/admin/shared/address_form', f: ba_form, type: "billing" %>
                <% end %>
              <% else %>
                <%= render 'spree/admin/shared/address', address: @order.bill_address %>
              <% end %>
            <% end %>
            <%= f.button "Update Billing Address", formaction: spree.admin_order_bill_address_change_path(@order), formmethod: "get", data: { form_validation_target: "submitBtn", turbo_frame: :bill_address_fields } %>
          </div>

      </div>
    </div>

    <div data-hook="ship_address_wrapper" class="col-12 col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title mb-0 h6"><%= Spree.t(:shipping_address) %></h5>
        </div>

        <div class="card-body" data-controller="form-validation">
          <%= turbo_frame_tag :ship_address_fields do %>
            <% if can? :edit, @order.user %>
              <%= f.fields_for :ship_address do |sa_form| %>
                <%= render 'spree/admin/shared/address_form', f: sa_form, type: 'shipping' %>
              <% end %>
            <% else %>
              <%= render 'spree/admin/shared/address', address: @order.ship_address %>
            <% end %>
          <% end %>
          <%= f.button "Update Shipping Address", formaction: spree.admin_order_ship_address_change_path(@order), formmethod: "get", data: { form_validation_target: "submitBtn", turbo_frame: :ship_address_fields } %>
        </div>

      </div>
    </div>
  </div>

  <% if can? :edit, @order.user %>
    <div class="form-actions" data-hook="buttons">
      <%= f.submit(Spree.t('actions.update'), class: 'btn btn-success', data: {turbo_frame: "_top"} ) %>
    </div>
  <% end %>
</div>

