<%= render 'spree/admin/shared/order_tabs', current: :customer_details %>

<% if can? :edit, @order.user %>
  <div id="select-customer" class="card mb-3" data-hook>
    <div class="card-header">
      <h5 class="card-title mb-0 h6">
        <%= Spree.t(:customer_search) %>
      </h5>
    </div>
    <div class="card-body" id="customer-search-field">
      <%= select_tag :customer_search, nil, class: 'd-block w-100', data: { controller: 'ts--search-user',
                                                                        ts__search_user_uri_value: '/api/v2/platform/users',
                                                                        ts__search_user_ransack_value: ['email_i_cont', 'addresses_firstname', 'addresses_lastname'],
                                                                        ts__search_user_include_value: 'ship_address,bill_address' } %>
    </div>
  </div>
<% end %>



<%= form_for @order, url: spree.admin_order_customer_url(@order) do |f| %>
  <%= render 'form', f: f %>
<% end %>
