<nav class="pb-3 pt-lg-3 px-1">
  <%= render partial: 'spree/admin/shared/main_menu/close_mobile_menu_button' %>

  <% if can?(:admin, Spree::Webhooks::Subscriber) || can?(:admin, Spree::PaymentMethod) %>
    <ul class="nav nav-sidebar" id="sidebarIntegrations">
      <%= main_menu_tree Spree.t('admin.tab.integrations'), icon: "stack.svg", sub_menu: "integrations", url: "#sidebar-integrations" %>
    </ul>
  <% end %>

  <% if can? :admin, Spree::OauthApplication %>
    <ul class="nav nav-sidebar" id="sidebarApps">
      <%= main_menu_tree Spree.t('admin.tab.apps'), icon: "terminal-fill.svg", sub_menu: "apps", url: "#sidebar-apps" %>
    </ul>
  <% end %>

  <% if can? :admin, current_store %>
    <ul class="nav nav-sidebar" id="sidebarConfiguration">
      <%= main_menu_tree Spree.t('admin.settings'), icon: "gear-fill.svg", sub_menu: "configuration", url: "#sidebar-configuration" %>
    </ul>
  <% elsif defined?(current_spree_vendor) && current_spree_vendor.present? %>
    <ul class="nav nav-sidebar" id="sidebarConfiguration">
      <%= main_menu_tree Spree.t('admin.settings'), icon: "gear-fill.svg", sub_menu: "vendor_configuration", url: "#sidebar-configuration" %>
    </ul>
  <% end %>
</nav>
