<div class="card-header">
  <h5 class="card-title">
    <%= Spree.t(:add_stock) %>
  </h5>
</div>
<div class="card-body">
  <%= form_with model: [:admin, Spree::StockMovement.new], url: admin_stock_items_path, builder: Spree::Dash::BootstrapBuilder do |f| %>
    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="col-12 col-lg-2">
        <%= f.field_container :quantity do %>
          <%= f.number_field :quantity, value: 1 %>
          <%= f.label :quantity, Spree.t(:quantity) %>
        <% end %>
      </div>
      <div class="col-12 col-lg-5">
        <%= f.field_container :stock_location_id do %>
          <%= f.select :stock_location_id, options_from_collection_for_select(@stock_locations, :id, :name), {} %>
          <%= f.label :stock_location_id, Spree.t(:stock_location) %>
        <% end %>
      </div>

      <div class="col-12 col-lg-5">
        <%= f.field_container :variant_id do %>
          <%= f.select :variant_id, options_from_collection_for_select(@variants, :id, :sku_and_options_text), {} %>
          <%= f.label :variant_id, Spree.t(:variant) %>
        <% end %>
      </div>
    </div>

    <div class="form-actions text-center" data-hook="buttons">
      <%= button Spree.t(:add_stock), 'plus-square.svg' %>
    </div>
  <% end %>
</div>
