<div id="calculator_fields" data-hook class="card mb-3">

  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:calculator) %>
    </h5>
  </div>

  <div id="preference-settings" data-hook class="card-body">
    <div class="form-group form-floating">
      <%= f.select(:calculator_type, @calculators.map { |c| [c.description, c.name] }, {}, {class: 'form-select',id: 'calc_type', data: {controller: 'ts--select'}}) %>
      <%= f.label(:calculator_type, Spree.t(:calculator), for: 'calc_type') %>
    </div>
    <% if !@object.new_record? %>
      <div class="form-group">
        <div class="calculator-settings">
          <%= f.fields_for :calculator do |calculator_form| %>
            <%= preference_fields @object.calculator, calculator_form %>
          <% end %>
        </div>
        <% if @object.calculator.respond_to?(:preferences) %>
          <span class="calculator-settings-warning info warning">
            <%= I18n.t('spree.dash.calculators.if_you_change_the_calculator') %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
