<% date_time ||= false  %>
<% value ||= nil  %>
<% placeholder ||= Spree.t(:ending_at) %>

<div id="<%= "datePickerTo_#{to_field.to_s}" %>" class="input-group" data-controller="datepicker"
                                                                     data-datepicker-to="true"
                                                                     data-wrap="true"
                                                                     <% if date_time %>
                                                                       data-enable-time="true"
                                                                     <% end %>
                                                                     data-min-date="<%= data_min_date %>"
                                                                     data-target-pair-id=<%= "datePickerFrom_#{from_field.to_s}" %>>
  <% if date_time %>
    <%= f.datetime_field to_field.to_sym, class: 'form-control rounded-start js-filterable',
                                          value: value,
                                          placeholder: placeholder,
                                          data: { input:'' } %>
  <% else %>
    <%= f.text_field to_field.to_sym, class: 'js-filterable',
                                      value: value,
                                      placeholder: placeholder,
                                      data: { input:'' } %>
  <% end %>

  <%= render partial: 'spree/admin/shared/cal_close' %>
</div>
