<% date_time ||= false  %>
<% value ||= nil  %>
<% placeholder ||= Spree.t(:starting_from) %>

<div id="<%= "datePickerFrom_#{from_field.to_s}" %>" class="input-group datePickerFrom" data-controller="datepicker"
                                        data-wrap="true"
                                        data-flatpickr-enable-time="<%= date_time %>"
                                        data-flatpickr-max-date="<%= data_max_date %>"
                                        data-target-pair-id=<%= "datePickerTo_#{to_field.to_s}" %>>
  <% if date_time %>
    <%= f.datetime_field from_field.to_sym, class: 'js-filterable',
                                            value: value,
                                            placeholder: placeholder,
                                            data: { input:'' } %>
  <% else %>
    <%= f.text_field from_field.to_sym, class: 'js-filterable',
                                        value: value,
                                        placeholder: placeholder,
                                        data: { input:'' } %>
  <% end %>

  <%= render partial: 'spree/admin/shared/cal_close' %>
</div>
