<div class="table-responsive border rounded bg-white">
  <table class="table table-condensed border rounded">
    <thead class="text-muted">
      <tr data-hook="taxons_header">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:path) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% taxons.each do |taxon| %>
        <tr id="<%= dom_id(taxon) %>" data-hook="taxons_row" data-stream-exit-class="animate__fadeOut">
          <td><%= taxon.name %></td>
          <td><%= taxon_path taxon %></td>
          <td class="actions">
            <%= link_to_delete(taxon, url: remove_admin_product_taxon_url(@product, taxon)) %>
          </td>
        </tr>
      <% end %>
      <% if taxons.empty? %>
        <tr data-hook="taxons_none"><td colspan="3"><%= Spree.t(:none) %>.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
