<%= turbo_frame_tag :taxons do %>
  <% if @taxon.nil? %>
    <%= render 'instructions' %>
  <% else %>
    <ul id="taxon_products"
        class="taxon row"
        data-controller="sortable" data-sortable-resource-name-value="classification">
      <% @taxon.products.each do |product| %>
      <% classification = product.classifications.where(taxon_id: @taxon.id) %>
        <li id="<%= dom_id(product) %>"
            class="product p-2 col-6 col-md-3 col-lg-2"
            data-stream-exit-class="animate__fadeOut"
            data-sortable-update-url="<%= spree.admin_classification_path(@taxon.id, product.id) %>">

          <div class="m-1 p-2 card bg-light">
            <nav class="navbar bg-light justify-content-between px-0 pt-0" style="background-color:transparent !important;">
              <div class="d-flex align-items-center justify-content-center">
                <%= render 'spree/admin/shared/drag_handle' %>
              </div>
            </nav>

            <% if product.images.any? %>
              <% image =  product.images[0] %>
              <div class="admin-product-image-container product-img">
                <%= image_tag(main_app.cdn_image_url(image.url(:product))) %>
              </div>
            <% else %>
              <div class="admin-product-image-container product-img">
                <%= inline_svg_tag "image.svg", class: "noimage", size: "60%*60%" %>
              </div>
            <% end %>

            <div class="p-0 pt-3 text-center product-info">
              <h6 class="name card-text"><%= product.name %></h6>
              <p class="price card-text"><%= product.display_price %></p>
            </div>

            <div>
              <%= link_to I18n.t('spree.dash.actions.edit'), edit_admin_product_path(product), class: 'btn', data: {turbo_frame: '_top'} %>
              <%= form_with scope: :product, url: spree.remove_from_taxon_admin_product_path(product), class: 'd-inline', method: :patch, data: {turbo: true} do |f| %>
                <%= f.hidden_field :taxon_id, value: @taxon.id %>
                <%= f.submit I18n.t('spree.dash.actions.remove'), class: 'btn' %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
