<div id="new_state" data-hook></div>
<div class="table-responsive border rounded bg-white">
  <table class="table" id='listing_states' data-hook>
    <thead class="text-muted">
      <tr data-hook="states_header">
        <th><%= Spree.t(:name) %></th>
        <th class="text-center"><%= Spree.t(:abbreviation) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @states.each do |state| %>
        <tr id="<%= dom_id(state) %>" data-hook="states_row" data-stream-exit-class="animate__fadeOut">
          <td><%= state.name %></td>
          <td class="text-center"><%= state.abbr %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(state) if can? :edit, state %>
              <%= link_to_delete(state) if can? :delete, state %>
            </span>
          </td>
        </tr>
      <% end %>
      <% if @states.empty? %>
        <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
